
{% macro session_flash(close, use_raw, class, domain) %}
    {% import 'MopaBootstrapBundle::flash.html.twig' as flash_messages %}

    {% if app.session.flashbag.peekAll|length > 0 %}
        {% set types   = ['danger', 'success', 'info', 'warning', 'fos_user_success' ] %}
        {% set flashes = {} %}

        {% for type in types %}
            {% set flashes = flashes | merge({ (type) : app.session.flashbag.get(type) }) %}
        {% endfor %}

        {% for type, messages in flashes %}
            {% if type == 'fos_user_success' %}
                {% set type = 'success' %}
                {% set domain = 'FOSUserBundle' %}
            {% endif %}
            {% for message in messages %}
                {{ flash_messages.flash(type, message, close, use_raw, class, domain) }}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block flashes %}
         {% if app.session.flashbag.peekAll|length > 0 %}
         <div class="row">
             <div class="col-xs-12">
             {{ _self.session_flash(true, true) }}
             </div>
         </div>
         {% endif %}
{% endblock %}
