{% extends "AppAdminBundle::action_layout.html.twig" %}


{% block content_left %}
    <div class="app-well">
    <form class="form-horizontal form-dynamic" method="post">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ action.button('save') }}</button>
            <span class="btn btn-default app_form_btn_cancel">{{ action.button('cancel')  }}</span>
        </div>
    </form>
{%block action_form_scripts %}
        
{% endblock %}
    </div>
{% endblock %}
